---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/box/city?APPID=1111111111&units=metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf8
      X-Source:
      - redis
    body:
      encoding: UTF-8
      string: |
        {"message":"","cod":"500"}
  recorded_at: Fri, 04 Sep 2015 14:48:24 GMT
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/box/city?APPID=1111111111&bbox=12,32,15,37,10&units=metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf8
      X-Source:
      - back
    body:
      encoding: UTF-8
      string: |
        {"cod":"200","calctime":1.152,"cnt":15,"list":[{"id":2208791,"name":"Yafran","coord":{"lon":12.52859,"lat":32.06329},"main":{"temp":39.75,"temp_min":39.747,"temp_max":39.747,"pressure":1006.69,"sea_level":1026.3,"grnd_level":1006.69,"humidity":21},"dt":1441374580,"wind":{"speed":2.71,"deg":38.5002},"clouds":{"all":0},"weather":[{"id":800,"main":"Clear","description":"Sky is Clear","icon":"01d"}]},{"id":2208425,"name":"Zuwarah","coord":{"lon":12.08199,"lat":32.931198},"main":{"temp":35.42,"temp_min":35.416,"temp_max":35.416,"pressure":1024.08,"sea_level":1025.06,"grnd_level":1024.08,"humidity":45},"dt":1441374579,"wind":{"speed":4.27,"deg":91.0012},"clouds":{"all":36},"weather":[{"id":802,"main":"Clouds","description":"scattered clouds","icon":"03d"}]},{"id":2212771,"name":"Sabratah","coord":{"lon":12.48845,"lat":32.79335},"main":{"temp":39.75,"temp_min":39.747,"temp_max":39.747,[...]
