---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/weather?q=,Cochin,%20In&units=metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Source:
      - back
    body:
      encoding: UTF-8
      string: |
        {"coord":{"lon":76.26,"lat":9.94},"sys":{"message":0.0191,"country":"India","sunrise":1409186752,"sunset":1409231181},"weather":[{"id":804,"main":"Clouds","description":"overcast clouds","icon":"04d"}],"base":"cmc stations","main":{"temp":26.643,"temp_min":26.643,"temp_max":26.643,"pressure":1020.95,"sea_level":1021.19,"grnd_level":1020.95,"humidity":99},"wind":{"speed":5.46,"deg":313.001},"clouds":{"all":88},"dt":1409222627,"id":1273874,"name":"Kochi","cod":200}
  recorded_at: Thu, 28 Aug 2014 10:50:49 GMT
recorded_with: VCR 2.9.2
