---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/box/city?bbox=-5,-5,-5,-5,-5
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf8
      X-Source:
      - back
    body:
      encoding: UTF-8
      string: |
        {"message":"","cod":"200","cnt":0,"list":[]}
  recorded_at: Fri, 04 Sep 2015 14:51:01 GMT
recorded_with: VCR 2.9.3
