---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/weather?id=1273874
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Source:
      - redis
    body:
      encoding: UTF-8
      string: |
        {"coord":{"lon":76.26,"lat":9.94},"sys":{"message":0.8839,"country":"IN","sunrise":1409186753,"sunset":1409231181},"weather":[{"id":803,"main":"Clouds","description":"broken clouds","icon":"04d"}],"base":"cmc stations","main":{"temp":299.941,"temp_min":299.941,"temp_max":299.941,"pressure":1021.68,"sea_level":1023.32,"grnd_level":1021.68,"humidity":100},"wind":{"speed":4.91,"deg":311.006},"clouds":{"all":64},"dt":1409221397,"id":1273874,"name":"Cochin","cod":200}
  recorded_at: Thu, 28 Aug 2014 10:50:48 GMT
recorded_with: VCR 2.9.2
