---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/forecast?q=,Cochin,%20In&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Source:
      - back
    body:
      encoding: UTF-8
      string: |
        {"cod":"200","message":0.0501,"city":{"id":"1273874","name":"Kochi","coord":{"lon":76.2615,"lat":9.93606},"country":"India","population":0},"cnt":33,"list":[{"dt":1409216400,"main":{"temp":80.22,"temp_min":80.22,"temp_max":80.22,"pressure":1021.68,"sea_level":1023.32,"grnd_level":1021.68,"humidity":100,"temp_kf":0},"weather":[{"id":803,"main":"Clouds","description":"broken clouds","icon":"04d"}],"clouds":{"all":64},"wind":{"speed":10.61,"deg":311.006},"rain":{"3h":0},"sys":{"pod":"d"},"dt_txt":"2014-08-28 09:00:00"},{"dt":1409227200,"main":{"temp":79.95,"temp_min":79.95,"temp_max":79.96,"pressure":1020.95,"sea_level":1021.19,"grnd_level":1020.95,"humidity":99,"temp_kf":0},"weather":[{"id":804,"main":"Clouds","description":"overcast clouds","icon":"04d"}],"clouds":{"all":88},"wind":{"speed":11.79,"deg":313.001},"rain":{"3h":0},"sys":{"pod":"d"},"dt_txt":"2014-08-28 12:00:00"},{"dt":1409238000,"main":{"temp":79.03,"temp_min":79.03,"temp_max":79.04,"pressure":1022.42,"sea_level":1022.56,[...]
