---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/forecast/daily?cnt=10&q=,Cochin,%20In
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Source:
      - redis
    body:
      encoding: UTF-8
      string: |
        {"cod":"200","message":1.2157,"city":{"id":0,"name":"Kochi","coord":{"lon":76.26145,"lat":9.93606},"country":"India","population":0},"cnt":10,"list":[{"dt":1418796000,"temp":{"day":300.41,"min":299.66,"max":300.41,"night":299.66,"eve":300.41,"morn":300.41},"pressure":1019.19,"humidity":77,"weather":[{"id":500,"main":"Rain","description":"light rain","icon":"10d"}],"speed":4.12,"deg":100,"clouds":56,"rain":2.75},{"dt":1418882400,"temp":{"day":303.75,"min":298.42,"max":304.51,"night":300.64,"eve":303.7,"morn":298.42},"pressure":1018.51,"humidity":66,"weather":[{"id":801,"main":"Clouds","description":"few clouds","icon":"02d"}],"speed":5.47,"deg":60,"clouds":24},{"dt":1418968800,"temp":{"day":303.65,"min":299.07,"max":305.03,"night":301.01,"eve":304.43,"morn":299.07},"pressure":1019.68,"humidity":66,"weather":[{"id":803,"main":"Clouds","description":"broken clouds","icon":"04d"}],"speed":7.01,"deg":[...]
