---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/forecast?q=,Cochin,%20In
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Source:
      - redis
    body:
      encoding: UTF-8
      string: |
        {"cod":"200","message":0.0321,"city":{"id":"1273874","name":"Kochi","coord":{"lon":76.2615,"lat":9.93606},"country":"India","population":0},"cnt":37,"list":[{"dt":1433062800,"main":{"temp":296.85,"temp_min":296.85,"temp_max":298.934,"pressure":1015.57,"sea_level":1020.85,"grnd_level":1015.57,"humidity":100,"temp_kf":-2.09},"weather":[{"id":500,"main":"Rain","description":"light rain","icon":"10d"}],"clouds":{"all":92},"wind":{"speed":1.51,"deg":165.503},"rain":{"3h":2.075},"sys":{"pod":"d"},"dt_txt":"2015-05-31 09:00:00"},{"dt":1433073600,"main":{"temp":295.18,"temp_min":295.18,"temp_max":296.848,"pressure":1014.83,"sea_level":1020.15,"grnd_level":1014.83,"humidity":100,"temp_kf":-1.67},"weather":[{"id":501,"main":"Rain","description":"moderate rain","icon":"10d"}],"clouds":{"all":92},"wind":{"speed":1.51,"deg":163.001},"rain":{"3h":10.74},"sys":{"pod":"d"},"dt_txt":"2015-05-31 12:00:00"},{"dt":1433084400,"main":{"temp":295.74,"temp_min":295.74,"temp_max":296.996,"pressure":1016.28,"sea_lev[...]
