---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/forecast/daily?q=,Cochin,%20In&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Source:
      - redis
    body:
      encoding: UTF-8
      string: |
        {"cod":"200","message":0.1394,"city":{"id":"1273874","name":"Kochi","coord":{"lon":76.2615,"lat":9.93606},"country":"India","population":0},"cnt":7,"list":[{"dt":1419400800,"temp":{"day":76.46,"min":76.46,"max":76.46,"night":76.46,"eve":76.46,"morn":76.46},"pressure":1021.02,"humidity":95,"weather":[{"id":802,"main":"Clouds","description":"scattered clouds","icon":"03n"}],"speed":2.85,"deg":253,"clouds":36},{"dt":1419487200,"temp":{"day":86.38,"min":73.99,"max":89.42,"night":76.98,"eve":85.87,"morn":73.99},"pressure":1020,"humidity":67,"weather":[{"id":800,"main":"Clear","description":"sky is clear","icon":"01d"}],"speed":4.73,"deg":46,"clouds":0},{"dt":1419573600,"temp":{"day":86.67,"min":75.51,"max":89.47,"night":79.11,"eve":85.71,"morn":75.51},"pressure":1017.68,"humidity":59,"weather":[{"id":800,"main":"Clear","description":"sky is clear","icon":"01d"}],"speed":7.71,"deg":58,"clouds":0},{"dt":1419660000,"temp":{"day":77.86,"min":73.47,"max":82.42,"night":77.59,"eve":82.42,"morn":75.38},"pressure":1018.07,"humidity":82,"weather":[{"id":804,"main":"Clouds","description":"overcast clouds","icon":"04d"}],"speed":11.36,"deg":26,"clouds":88},{"dt":1419746400,"temp":{"day":77.95,"min":77.95,"max":79.83,"night":78.98,"eve":79.83,"morn":79.56},"pressure":1020.98,"humidity":0,"weather":[{"id":502,"main":"Rain","description":"heavy intensity rain","icon":"10d"}],"speed":6.74,"deg":175,"clouds":68,"rain":40.09},{"dt":1419832800,"temp":{"day":79.12,"min":78.67,"max":81.86,"night":81.54,"eve":81.86,"morn":78.67},"pressure":1017.96,"humidity":0,"weather":[{"id":502,"main":"Rain","description":"heavy intensity rain","icon":"10d"}],"speed":10.71,"deg":310,"clouds":51,"rain":20.77},{"dt":1419919200,"temp":{"day":82.87,"min":80.69,"max":83.01,"night":80.69,"eve":83.01,"morn":81.36},"pressure":1017.8,"humidity":0,"weather":[{"id":500,"main":"Rain","description":"light rain","icon":"10d"}],"speed":9.98,"deg":337,"clouds":0,"rain":0.58}]}
  recorded_at: Wed, 24 Dec 2014 21:15:16 GMT
recorded_with: VCR 2.9.2
