---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/forecast/daily?cnt=10&id=1273874
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Source:
      - back
    body:
      encoding: UTF-8
      string: |
        {"cod":"200","message":1.1044,"city":{"id":1273874,"name":"Cochin","coord":{"lon":76.260223,"lat":9.93988},"country":"IN","population":604696},"cnt":10,"list":[{"dt":1418796000,"temp":{"day":300.41,"min":299.66,"max":300.41,"night":299.66,"eve":300.41,"morn":300.41},"pressure":1019.19,"humidity":77,"weather":[{"id":500,"main":"Rain","description":"light rain","icon":"10d"}],"speed":4.12,"deg":100,"clouds":56,"rain":2.75},{"dt":1418882400,"temp":{"day":302.98,"min":299.26,"max":305.37,"night":300.74,"eve":304.38,"morn":299.26},"pressure":1018.4,"humidity":67,"weather":[{"id":801,"main":"Clouds","description":"few clouds","icon":"02d"}],"speed":5.82,"deg":61,"clouds":12},{"dt":1418968800,"temp":{"day":304.67,"min":299.09,"max":305.83,"night":301.38,"eve":304.88,"morn":299.09},"pressure":1019.45,"humidity":63,"weather":[{"id":802,"main":"Clouds","description":"scattered clouds","icon":"03d"}],"speed":6.12,"de[...]
