---
http_interactions:
- request:
    method: get
    uri: http://history.openweathermap.org/data/2.5/history/city?q=,Cochin,%20In
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Source:
      - back
    body:
      encoding: UTF-8
      string: |
        {"message":"","cod":"200","city_id":2885679,"calctime":0.0823,"cnt":3,"list":[{"main":{"temp":266.052,"temp_min":266.052,"temp_max":266.052,"pressure":957.86,"sea_level":1039.34,"grnd_level":957.86,"humidity":90},"wind":{"speed":1.16,"deg":139.502},"clouds":{"all":0},"weather":[{"id":800,"main":"Clear","description":"Sky is Clear","icon":"01n"}],"dt":1485722804},{"main":{"temp":263.847,"temp_min":263.847,"temp_max":263.847,"pressure":955.78,"sea_level":1037.43,"grnd_level":955.78,"humidity":91},"wind":{"speed":1.49,"deg":159},"clouds":{"all":0},"weather":[{"id":800,"main":"Clear","description":"Sky is Clear","icon":"01n"}],"dt":1485749608},{"main":{"temp":274.9,"pressure":1019,"temp_min":274.15,"temp_max":275.15,"humidity":88},"wind":{"speed":1,"deg":0},"clouds":{"all":76},"weather":[{"id":500,"main":"Rain","description":"light rain","icon":"10d"}],"dt":1485773778}]}
  recorded_at: Thu, 28 Aug 2014 10:50:49 GMT
recorded_with: VCR 2.9.2
